@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  overflow: hidden;
  scroll-behavior: smooth;
}
.header{
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  z-index: 1000;

}
.header .navbar{
  display: flex;
  background: blue;
}

.header .navbar a{
  flex: 1;
  text-align: center;
  font-size: 20px;
  line-height: 70px;
  color: #fff;
}

.header .navbar a span{
  padding-left: 5px;
  margin:auto;

}

.header .navbar a:hover{
  filter: brightness(.90);
}

.header .navbar a:nth-child(1){
  background: #e74c37;
}

.header .navbar a:nth-child(2){
  background: #27ae60;
}

.header .navbar a:nth-child(3){
  background: #2980b9;
}

.header .navbar a:nth-child(4){
  background: #8e44ad;
}

.header .navbar a:nth-child(5){
  background: #e74c3c;
}

.container{
  display: flex;
  width: 500%;
  height: 100vh;

}

.container .section{
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 12vw;
  letter-spacing: .4rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.container .section:nth-child(1){
  background: #e74c37;
}

.container .section:nth-child(2){
  background: #27ae60;
}

.container .section:nth-child(3){
  background: #2980b9;
}

.container .section:nth-child(4){
  background: #8e44ad;
}

.container .section:nth-child(5){
  background: #e74c3c;
}

@media (max-width:768px) {
  .header.navbar a span{
    display: none;
  }
}